<!--

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>

  -->
 <div class="container">

    <h1 class="pb-3"><i class="fas fa-user-match mr-3"></i>Blind Match</h1>
    <h2 class="mt-4">Create a profile to answer a few basic questions.</h2>
    <h2 class="mb-4">Then find your soulmate with the greatest compatibility!</h2>
    <h3 class="mt-4">Or sign in to see your matches and date reviews!</h3>

  <div class="jumbotron text-center">
   <a href="/login" class="btn btn-lg btn-success">Login</a>
   <a href="/signup" class="btn btn-lg btn-info">Register</a>
  </div>
 </div>

 <!--
</body>
</html>

-->