

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Friend Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="container">

        <h2> <strong>Survey Questions</strong></h2>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h3> <strong>About You</strong></h3>

                <form role="form">
                    <div class="form-group">
                        <label for="name-required"><strong>Name(Required)</strong></label>
                        <input type="text" class="form-control" id="name">

                        <label for="photo-required"><strong>Link To Photo Image(Required)</strong></label>
                        <input type="text" class="form-control" id="photo">
                        <hr>
                </form>

                <div class="form group">
                    <h3><strong> Question 1</strong></h3>
                    <p><strong>Your mind is always buzzing with with unexplored ideas and plans.</strong></p>
                    <select data-placeholder="" class="validate" id="question1">
                        <option value="">Choose an option</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                </div>
                <br>

                <br>

                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <hr>
                </div>

                <div id="bestFriend" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Your Best Friend Match
                                    </h1>
                            </div>
                            <div class="modal-body">
                                <h2 id="bestMatch"></h2>
                                <img id="matchPhoto" src="#">
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <footer>
                    <div class="container">
                           <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
                            <a href="/profile" class="btn btn-danger btn-sm">Profile</a>

                      <!--  <p><a href="/api/match">API Friends List</a> | <a href="https://github.com/chernojallow/FriendFinder">
                                GitHub Repo </a></p> -->
                    </div>
                </footer>



</body>

</html>



<!--

<script type = "text/javascript">


      $("#submit").on("click", function(event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();
    
        var matcher = {
          name: $("#name").val().trim(),
                   photo: $("#photo").val().trim(), 
                   score:$("#question1").val(),
        
        };
        console.log("New User", matcher);
        // Send the POST request.
        $.ajax("/api/match", {
          type: "POST",
          data: matcher
        }).then(
          function(data) {
            $("#bestMatch").text(data.name);
            $("#matchPhoto").attr("src", data.photo);
            $("#bestFriend").modal("toggle");
             // window.location.replace("/survey");
          }
        );
      });
    

-->


</script>

